<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>lithe | Mief</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lithe - static websites in minutes">
    <meta name="author" content="Rik van der Kemp - mief.nl">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    <!-- Global CSS -->
    <link rel="stylesheet" href="/static/third-party/devaid/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="/static/third-party/devaid/assets/plugins/font-awesome/css/font-awesome.css">
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="/static/third-party/devaid/assets/css/styles-4.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- End devaid implementation -->

    <link rel="stylesheet" type="text/css" href="/static/css/main.css">

    {#  <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-17586299-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        #}
</head>

<body data-spy="scroll">

    <header id="header" class="header">  
        <div class="container">            
            <h1 class="logo pull-left">
                {% block home %}
                <a class="scrollto" href="#promo">
                    <span class="logo-title">lithe</span>
                </a>
                {% endblock %}
            </h1><!--//logo-->              
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->            
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        {% block nav_items %}
                        <li class="active nav-item sr-only"><a class="scrollto" href="#promo">Home</a></li>
                        <li class="nav-item"><a class="scrollto" href="#about">About</a></li>
                        <li class="nav-item"><a class="scrollto" href="#features">Features</a></li>
                        <li class="nav-item"><a class="scrollto" href="#get-started">Get started</a></li>
                        <li class="nav-item last"><a href="/page/tutorial.html">Tutorial</a></li>                        
                        {% endblock %}
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div>
    </header><!--//header-->
    
    {% block content %}{% endblock %}
    
    <footer class="footer">
        <div class="container text-center">
            <small class="copyright">Developed by Rik van der Kemp - <a href="http://www.mief.nl">mief.nl</a></small>
        </div><!--//container-->
    </footer><!--//footer-->
     
    <!-- Javascript -->          
    <script type="text/javascript" src="/static/third-party/devaid/assets/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/static/third-party/devaid/assets/plugins/jquery-migrate-1.2.1.min.js"></script>    
    <script type="text/javascript" src="/static/third-party/devaid/assets/plugins/jquery.easing.1.3.js"></script>   
    <script type="text/javascript" src="/static/third-party/devaid/assets/plugins/bootstrap/js/bootstrap.min.js"></script>     
    <script type="text/javascript" src="/static/third-party/devaid/assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script> 
    <script type="text/javascript" src="/static/third-party/devaid/assets/js/main.js"></script>
</body>
</html>
