//-- Third party helpers
@import 'lib/mixins';

//-- Site specifics
@import 'lib/typography';

//-- Code coloring
@import 'lib/pygments/monokai';

div.codehilite {
    pre {
        background-color: #333;
        color: #eee;
    }
}


$break-phone: 320px;
$break-tablet: 1024px;

@media screen and (min-width: 0) {
    @import 'lib/phone';
}

@media screen and (min-width: $break-tablet) {
    @import 'lib/tablet';
}
